<div class="full">
  <div class="search-box">
    <input #addr type="text" class="search" placeholder="주소를 입력해주세요."(keyup.enter)="search(addr.value)"/>
  </div>
  <div class="gps" (click)="getLocation()">
    <img src="assets/gps.png">
  </div>
  <div id="map"></div>
  <div class="custom_zoomcontrol radius_border">
    <span (click)="zoomIn()"><img src="http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_plus.png"></span>
    <span (click)="zoomOut()"><img src="http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_minus.png"></span>
  </div>
</div>
