<div class="full">
  <div class="search-box">
    <input #addr type="text" class="search" placeholder="장소, 건물, 주소 검색" (keyup.enter)="search(addr.value)"/>
    <button class="search-ico" (click)="search(addr.value)">검색</button>
  </div>
  <div class="gps" (click)="getLocation()">
    <img src="assets/gps.png" alt="gps-icon">
  </div>
  <div id="filter">
    <label for="isMask">품절숨기기
      <input type="checkbox" id="isMask" [(ngModel)]="hidden"
             (ngModelChange)="displayCenterInfo(map.getCenter())">
    </label>
  </div>
  <div id="map"></div>
  <div id="toarst"></div>
</div>
